<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rbachis.homelibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".HomeLibraryApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UpdateRoomActivity"
            android:label="@string/title_activity_update_room"
            android:parentActivityName=".RoomsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.rbachis.homelibrary.RoomsActivity" />
        </activity>
        <activity
            android:name=".NewRoomActivity"
            android:label="@string/title_activity_room_change"
            android:parentActivityName=".RoomsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.rbachis.homelibrary.RoomsActivity" />
        </activity>
        <activity
            android:name=".RoomActivity"
            android:label="@string/title_activity_room"
            android:parentActivityName=".RoomsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.rbachis.homelibrary.RoomsActivity" />
        </activity>
        <activity
            android:name=".RoomsActivity"
            android:label="@string/title_activity_rooms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.rbachis.homelibrary.MainActivity" />
        </activity>
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.rbachis.homelibrary.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>